
@font-face {
    font-family: "Lazer84";
    src: url("../fonts/Lazer84.ttf");
}

@font-face {
    font-family: "VcrOsdMono";
    src: url("../fonts/VCR_OSD_MONO_1.001.ttf");
}



body {
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	height:100%;
  width:100%;
	position: fixed;
  margin: 0;
  padding: 0;
  font-size: 2.5em;

    

}

/** Buttons **/

img.icon{

    width: 25px; /*or your image's width*/
    height: 25px; /*or your image's height*/
    margin: 0;
    padding: 0;
    position: absolute;

    z-index: 10;


}

/* Linea sobre los iconos del menu */

#timeline-eventos div.menu1, #timeline-tickets div.menu2, #timeline-chat div.menu3, #timeline-avisos div.menu4 { background-color: blue; }

img.cross{

    right: 20px;
    top: 10px;
    /*z-index: 1;*/

}

img.back{ 

    left: 20px;
    top: 10px;
    /*z-index: 1;*/

}




/* #timeline-eventos{
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0); 
    } */


 #evento, #pago {
	background-color: #e8e9e7;
   
	}

/*  .row.cuerpo{

    background-color:  whitesmoke;
    border-bottom: 1px solid grey;
 } */


#menu-lateral, #settings, #landing {
    background-color: white;
} 

#menu-lateral>div>div>div, #settings>div>div>div {
    
    border-bottom: 1px solid grey;
}






/* Barra superior principal */

/* #settings{
    padding-left: 20%;
}

#btdr, #btiz{
    padding: 0;
    margin:  0;
    text-align: center;
} */

.titulo{

  margin-left: 0;
  margin-right: 0;


}

.title{
  position: absolute;
  width: 100%;
  /* height: 10%; */
  background-color: blue;
  z-index: 3;
}

.title>h1{
    margin-top: 0;
    text-align: center;
    color: #000f;

}


    
.pie{
    display: block;
    position: absolute;
    width:100%;
    height: 5%;
    top: 95%;
    background-color: white;
    border-top: 1px solid grey;
    margin-left: 0;
    margin-right: 0;
    z-index: 3;
    }

div.pie>div{
  padding-top: 2px;
  padding-left: 10%;

  width: 25%;

}

div.pie>div>img{

  width: 25%;
  /* margin-top: ;
  margin-left: ; */

}


#cargando {
    background-color: black;
    opacity: 0.5;
}

#cargando > div {
    z-index: 11;
    position: absolute;
    top: 40%;
    left: 45%;
    }

/* Timelines */

#wrapper1, #wrapper2, #wrapper3, #wrapper4, #wrapper5 {
    position: absolute;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 15%;
    z-index: 1;

    -webkit-overflow-scrolling: touch;
}

#scroller1, #scroller2, #scroller3, #scroller4, #scroller5, .unordered{

    list-style: none;
    padding:  0;
    z-index: 2;
}

/*** Clases del timeline de eventos ***/

.event-class{
    
    height: 230px;
    width: 100%;
    text-align: left;
    background-color: white;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    margin-bottom: 10px;
    color: white;

}

.event-picture{

    left: 0;
    top: 0;
    width: 100%;
    height: 180px;
    background-size: contain;
    

}

.event-titulo{
    position: relative;
    top: -160px;
    left: 30px;
    height: 1.2em;
    text-transform: uppercase;
    font-family: "Lazer84";
}

.event-location{
    position: relative;
    top: -100px;
    left: 30px;
    height: 1.2em;
    font-size: 0.7em;
    color: rgb(255, 190, 5);
}

.event-fecha{
    position: relative;
    top: -100px;
    left: 30px;
    height: 1.2em;
    font-size: 0.8em;
}

.event-price{
    position: relative;
    top: -200px;
    left: 30px;
    height: 1.2em;
    font-size: 2em;

}


/* Pantalla perfil */ 


#picture{
    width: 160px;
    height: 160px;
}

/* Pantalla de evento */

#evento>div.container{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
}


.etitle{

    font: 1em arial, sans-serif;
}

.elocation{}

.edate{

    font-size: 0.6em;
    color: rgb(255, 0, 125);
}

.eartist{

    font-family: VcrOsdMono;
    font-size: 0.8em;
}

.emusic{

    font-size: 0.5em;

}

.edescription{

    font-size:0.7em;
    color: grey;


}
.emap { height: 150px; }

.eticket {  }

/* Capa payment: datos de cobro y tarjeta */

#desglose{

    text-align: right;
    padding: 10px;
    padding-right: 50px;

}



/**
 * STRIPE
 * 
 */

#card-form {
  margin: 20px auto;
}

.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 5px;
  margin-bottom: 20px;
}

.group.valid { 
background-color: #e3ffe3;
}

.group.invalid{
  background-color: #ffc2c2;
}

label {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  display: block;
}

.group label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

label > span {
  width: 20%;
  text-align: right;
  float: left;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  width: 70%;
  height: 40px;
  float: right;
}

.field::-webkit-input-placeholder { color: #CFD7E0; }
.field::-moz-placeholder { color: #CFD7E0; }
.field:-ms-input-placeholder { color: #CFD7E0; }



input[name="card-expMonth"]{ width: 50px; float:  left; font-size: 0.8em;  }

input[name="card-expYear"] { width: 100px; float: left; font-size: 0.8em; }

input[name="card-cvc"] { width: 70px; float: left; font-size: 0.8em; }

button.pbutton {
  float: left;
  display: block;
  background: #666EE8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

button.pbutton:focus {
  background: #555ABF;
}

button.pbutton:active {
  background: #43458B;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #666EE8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}


/* Pantalla de ticket y QR */

button.Abutton-class{

  position: relative;
  top: -56%;
  left: 5%;
  display: block;
  background: #1465e8;
  color: white;
  /* box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08); */
  border-radius: 20px;
  border: 0;
  font-size: 15px;
  font-weight: 400;
  width: 40%;
  height: 40px;
  line-height: 38px;
  outline: none;
  z-index: 10;

}

button.Bbutton-class{

  position: relative;
  top: -73%;
  left: 50%;
  display: block;
  background: #e81d33;
  color: white;
  /* box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08); */
  border-radius: 20px;
  border: 0;
  font-size: 15px;
  font-weight: 400;
  width: 40%;
  height: 40px;
  line-height: 38px;
  outline: none;
  z-index: 10;

}











/* Estilo de celda de a matriz de pantallas */

.pantalla{

    position: absolute;
    display: block;
    width:25%;
    height: 25%;
    background-color: whitesmoke;
    /* padding-top: 3%; Este valor debe ser igual al grosor del título del marco */
    
   
}

.pantalla.x1 { left: 0; }
.pantalla.x2 { left:  25%; }
.pantalla.x3 { left:  50%; }
.pantalla.x4 { left:  75%; }
.pantalla.y1 { top:  0; }
.pantalla.y2 { top: -25%; }
.pantalla.y3 { top: -50%; }
.pantalla.y4 { top: -75%; }


	
/* Estilo para la matriz de pantallas */ 

.matriz{
    display: block;
    position: absolute;
    width:400%;
    height: 400%;
    top: 0;
    left: 0;
    background-color: white;

    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0); 
    }



/* Estilo de capa x2 */

.matriz.derecha1X {
-webkit-transform: translate3d(-25%, 0, 0); 
transform: translate3d(-25%, 0, 0); 
} 

/* Estilo de capa x3 */ 

.matriz.izquierda1X { 
-webkit-transform: translate3d(25%, 0, 0); 
transform: translate3d(25%, 0, 0); 
}

.matriz.x2 {
-webkit-transform: translate3d(-25%, 0, 0); 
transform: translate3d(-25%, 0, 0); 
} 

/* Estilo de capa x3 */ 

.matriz.x3 { 
-webkit-transform: translate3d(-50%, 0, 0); 
transform: translate3d(-50%, 0, 0); 
}

/* Estilo de capa x4 */ 

.matriz.x4 { 
-webkit-transform: translate3d(-75%, 0, 0); 
transform: translate3d(-75%, 0, 0); 
} 

/* Estilo de capa y2 */ 

.matriz.y2 { 
/* -webkit-transform: translate3d(0, 25%, 0); 
transform: translate3d(0, 25%, 0); */ 
top: 100%;
}


/* Estilo de capa y3 */ 

.matriz.y3 { 
/* -webkit-transform: translate3d(0, 50%, 0); 
transform: translate3d(0, 50%, 0); */
top:  200%;
}

/* Estilo de capa y4 */ 

.matriz.y4 { 
/* -webkit-transform: translate3d(0, 75%, 0); 
transform: translate3d(0, 75%, 0);  */
top: 300%;
}



/* Estilo de animación general */

.matriz.transition { 
-webkit-transition-duration: .30s; 
transition-duration: .30s; 
}



/* Clases de pantalla completa */

.page{
    display: block;
    position: absolute;
    width:400%;
    height: 400%;
    top: 0;
    left: 0;

    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0); 
    }

/* Estilo de capa izquierda */

.page.left {
-webkit-transform: translate3d(-80%, 0, 0); 
transform: translate3d(-80%, 0, 0); 
} 

/* Estilo de capa central */ 

.page.center { 
-webkit-transform: translate3d(0, 0, 0); 
transform: translate3d(0, 0, 0); 
} 

/* Estilo de capa derecha */ 

.page.right { 
-webkit-transform: translate3d(80%, 0, 0); 
transform: translate3d(80%, 0, 0); 
} 

/* Estilo de capa totalmente a la izquierda */

.page.totalleft {
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
}

/* Estilo de capa totalmente a la derecha */

.page.totalright { 
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0); 
}

/* Estilo de capa totalmente abajo */

.page.totaldown { 
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0,100%, 0); 
}



/* Estilo de animación general */

.page.transition { 
-webkit-transition-duration: .15s; 
transition-duration: .15s; 
}







	